{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    
    <div class="container h-75 d-flex flex-column align-items-center justify-content-between">
    <h1>Buy Stock!</h1>
    <div class="my-5 container d-flex justify-content-center">
        <form class="d-flex  justify-content-center g-4" action="/stock/buy" method="post">
            <div class="">
                <label for="symbol" class="form-label">Stock Symbol</label>
                <input type="text" class="form-control" id="symbol" name="symbol" aria-describedby="symbol" placeholder="VOO">
            </div>
            <div class="mx-3 flex-shrink-1 w-25">
                <label for="share" class="form-label">Share</label>
                <input type="number" class="form-control" id="share" name="share" step="1" min="1" placeholder="1">
            </div>
            <button class="btn btn-light align-self-end" type="submit">🛒</button>
        </form>
    </div>
    </div>
{% endblock %}

